<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- - google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- - custom css link -->
  <link rel="stylesheet" href="/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>CodeCommunity</title>
    </head>
    <body>
        <!-- - #HEADER -->

  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="/images/falling-meteorite.png" width="59.5" height="18.5" alt="Wren logo">
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">
            <img src="/images/falling-meteorite.png" width="59.5" height="18.5" alt="Wren logo">
          </a>

          <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link hover-1" data-nav-toggler>Home</a>
          </li>

          <li>
            <a href="/#topics" class="navbar-link hover-1" data-nav-toggler>Topics</a>
          </li>

          <li>
            <a href="/articles/new" class="navbar-link hover-1" data-nav-toggler>Write New</a>
          </li>

        </ul>

      </nav>

      <% if(user) {%>
      <a href="/auth/logout" class="btn btn-primary">LogOut</a>
        <% } else {%>
          <a href="/auth/login" class="btn btn-primary" style="background: #FF416C;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          ">SignIn</a>
            <% } %>
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>
  </header> 

  <main>
    <article>
            
