<!-- - #HERO-->

<section class="hero" id="home" aria-label="home">
    <div class="container">

      <div class="hero-content">

        <p class="hero-subtitle">Hello Everyone!</p>

        <h1 class="headline headline-1 section-title">
          Welcome to<span class="span">CodeCommunity</span>
        </h1>

        <p class="hero-text">
          I use animation as a third dimension by which to simplify experiences and kuiding thro each and every
          interaction. I’m not adding motion just to spruce things up, but doing it in ways that.
        </p>

      </div> 

      <div class="hero-banner">

        <img src="/images/falling-meteorite.png" width="327" height="490" alt="Wren Clark" class="w-100" style="transform: rotate(.2rad);">

        <img src="/images/pattern-2.svg" width="27" height="26" alt="shape" class="shape shape-1">

        <img src="/images/pattern-3.svg" width="27" height="26" alt="shape" class="shape shape-2">

      </div>

      <img src="images/shadow-1.svg" width="500" height="800" alt="" class="hero-bg hero-bg-1">

      <img src="images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2">

    </div>
  </section>